In [24]:
import pandas as pd

melb_data = pd.read_csv('melb_data.csv')

In [63]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [26]:
melb_data = melb_data.dropna(axis=0)
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [27]:
#select prediction target
melb_data_target = melb_data['Price']
melb_data_target

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
9        1097000.0
11       1350000.0
12        750000.0
15       1310000.0
16       1200000.0
17       1176500.0
19        890000.0
20       1330000.0
23        500000.0
24       1100000.0
25       1315000.0
27       1447500.0
29       1135000.0
32       1290000.0
33        470000.0
34       1180000.0
35       1195000.0
36       1012500.0
37       1030000.0
38        840000.0
39        730000.0
40        770000.0
41        603000.0
42        700000.0
43        600000.0
           ...
12154     880000.0
12156     945000.0
12157     730000.0
12159     980000.0
12164     570000.0
12168     600000.0
12169     360000.0
12171     475000.0
12172     495000.0
12173     695000.0
12174     760000.0
12175     583500.0
12177     585000.0
12180    1245000.0
12181    2000000.0
12183     407000.0
12186     891000.0
12187     615500.0
12188     300000.0
12192    1310000.0
12197     645000.0
12198     482500.0
12199     394000.0
12202     821000.0
12203     635000.0
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [28]:
#select features which will act as input to model
features = ['Rooms','Bathroom','Landsize','BuildingArea','YearBuilt']
melb_data_features = melb_data[features]
melb_data_features

       Rooms  Bathroom  Landsize  BuildingArea  YearBuilt
1          2       1.0     156.0         79.00     1900.0
2          3       2.0     134.0        150.00     1900.0
4          4       1.0     120.0        142.00     2014.0
6          3       2.0     245.0        210.00     1910.0
7          2       1.0     256.0        107.00     1890.0
9          2       1.0     220.0         75.00     1900.0
11         3       2.0     214.0        190.00     2005.0
12         2       2.0       0.0         94.00     2009.0
15         2       1.0     238.0         97.00     1890.0
16         3       2.0     113.0        110.00     1880.0
17         3       1.0     138.0        105.00     1890.0
19         2       1.0     150.0         73.00     1985.0
20         4       2.0     780.0        135.00     1900.0
23         2       1.0       0.0         60.00     1970.0
24         2       2.0     124.0        135.00     2013.0
25         2       1.0     147.0         85.00     1900.0
27         3       3.0     166.0        174.00     2012.0
29         2       2.0      98.0        128.00     1920.0
32         3       1.0     168.0        124.00     1950.0
33         1       1.0       0.0         50.00     2013.0
34         2       1.0     162.0         91.00     1900.0
35         3       2.0     120.0        128.00     1998.0
36         2       1.0     182.0         82.00     1900.0
37         2       1.0     172.0         81.00     1930.0
38         3       2.0     303.0        225.00     2016.0
39         3       2.0       0.0        145.00     1965.0
40         3       2.0       0.0        145.00     1965.0
41         2       1.0     272.0         84.00     1950.0
42         3       2.0     239.0        134.00     2009.0
43         3       1.0     290.0        116.00     1980.0
...      ...       ...       ...           ...        ...
12154      4       2.0     535.0        199.00     1970.0
12156      2       1.0     126.0         65.00     1890.0
12157      3       2.0     340.0        135.00     2000.0
12159      2       1.0      64.0        112.00     2000.0
12164      2       1.0       0.0         64.00     1965.0
12168      2       1.0       0.0         82.00     1930.0
12169      2       1.0     143.0        112.00     1999.0
12171      3       1.0     754.0        131.00     1985.0
12172      3       2.0     563.0        150.00     1994.0
12173      3       1.0     694.0        113.60     1950.0
12174      3       1.0    1143.0        100.00     1980.0
12175      3       1.0     672.0        110.00     1970.0
12177      3       2.0     662.0        232.00     2004.0
12180      3       2.0     779.0        135.00     1970.0
12181      6       3.0    1054.0        235.00     1970.0
12183      2       1.0     140.0         78.00     2010.0
12186      3       2.0     199.0        140.00     1999.0
12187      3       2.0     238.0        118.00     2011.0
12188      2       1.0       0.0         66.32     1980.0
12192      5       3.0     818.0        255.00     1985.0
12197      4       2.0     555.0        237.00     2002.0
12198      4       2.0     533.0        170.00     1980.0
12199      3       2.0     287.0        137.00     2013.0
12202      4       3.0     544.0        264.00     1997.0
12203      3       2.0     691.0        177.00     1975.0
12205      3       2.0     972.0        149.00     1996.0
12206      3       1.0     179.0        115.00     1890.0
12207      1       1.0       0.0         35.64     1967.0
12209      2       1.0       0.0         61.60     2012.0
12212      6       3.0    1087.0        388.50     1920.0

[6196 rows x 5 columns]

# BUILDING A MODEL

The steps to building and using a model are:

Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.

Fit: Capture patterns from provided data. This is the heart of modeling.

Predict: Just what it sounds like

Evaluate: Determine how accurate the model's predictions are.

DECISION TREE

In [29]:
from sklearn.tree import DecisionTreeRegressor

In [30]:
#define model
melb_model = DecisionTreeRegressor(random_state=100)

#fit model
melb_model.fit(melb_data_features,melb_data_target)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=100, splitter='best')

In [31]:
print("Making predictions on first 5 houses")

Making predictions on first 5 houses

In [32]:
melb_model.predict(melb_data_features.head())

array([1035000., 1465000., 1600000., 1876000., 1636000.])

# EVALUATING MODEL

Many people make a huge mistake when measuring predictive accuracy. They make predictions with their training data and compare those predictions to the target values in the training data.

The prediction error for each house is: 

error=actualâˆ’predicted

Here's why this is bad.

Imagine that, in the large real estate market, door color is unrelated to home price.

However, in the sample of data you used to build the model, all homes with green doors were very expensive. The model's job is to find patterns that predict home prices, so it will see this pattern, and it will always predict high prices for homes with green doors.

Since this pattern was derived from the training data, the model will appear accurate in the training data.

But if this pattern doesn't hold when the model sees new data, the model would be very inaccurate when used in practice.

Since models' practical value come from making predictions on new data, we measure performance on data that wasn't used to build the model. The most straightforward way to do this is to exclude some data from the model-building process, and then use those to test the model's accuracy on data it hasn't seen before. This data is called validation data.

In [33]:
#in sample prediction
from sklearn.metrics import mean_absolute_error
predicted_home_prices = melb_model.predict(melb_data_features)

In [34]:
mean_absolute_error(melb_data_target,predicted_home_prices)

3905.403155054543

# USE train_test_split

In [35]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(melb_data_features,melb_data_target,random_state=100)
melb_model = DecisionTreeRegressor(random_state=100)
melb_model.fit(train_x,train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=100, splitter='best')

In [36]:
predictions = melb_model.predict(test_x)
mean_absolute_error(predictions,test_y)

370672.79095576255

USE MAX_LEAF_NODES TO FIND A POINT BETWEEN UNDERFITTING AND OVERFITTING

In [37]:
for i in [5,50,500,5000]:
    melb_model = DecisionTreeRegressor(max_leaf_nodes=i,random_state=100)
    melb_model.fit(train_x,train_y)
    predictions = melb_model.predict(test_x)
    print(mean_absolute_error(predictions,test_y))

335212.6585465507
296898.84156126087
333841.095117105
376194.4320145101

# RANDOM FOREST

Decision trees leave you with a difficult decision. A deep tree with lots of leaves will overfit because each prediction is coming from historical data from only the few houses at its leaf. But a shallow tree with few leaves will perform poorly because it fails to capture as many distinctions in the raw data.

Even today's most sophisticated modeling techniques face this tension between underfitting and overfitting. But, many models have clever ideas that can lead to better performance. We'll look at the random forest as an example.

The random forest uses many trees, and it makes a prediction by averaging the predictions of each component tree. It generally has much better predictive accuracy than a single decision tree and it works well with default parameters. If you keep modeling, you can learn more models with even better performance, but many of those are sensitive to getting the right parameters.

In [38]:
from sklearn.ensemble import RandomForestRegressor
forest_model = RandomForestRegressor(random_state=100)
forest_model.fit(train_x,train_y)
forest_predictions = forest_model.predict(test_x)
forest_predictions

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([1082300.,  559600., 1574300., ...,  960450., 1076400.,  758200.])

In [39]:
print(mean_absolute_error(forest_predictions,test_y))

287298.9655331704

# handling missing values

## IMPUTATION

Imputation fills in the missing value with some number. The imputed value won't be exactly right in most cases, but it usually gives more accurate models than dropping the column entirely.

SUPPOSE original data is in dataframe original_data

In [40]:
melb_data1 = pd.read_csv('melb_data.csv')
melb_data1.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [41]:
import sklearn
print(sklearn.__version__)

0.20.3

In [58]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
data_with_imputed_values = my_imputer.fit_transform(melb_data1)

AttributeError: 'DataFrame' object has no attribute 'dtype'

## EXTENSION TO IMPUTATION

Imputation is the standard approach, and it usually works well. However, imputed values may by systematically above or below their actual values (which weren't collected in the dataset). Or rows with missing values may be unique in some other way. In that case, your model would make better predictions by considering which values were originally missing. Here's how it might look:

In [47]:
from sklearn.impute import SimpleImputer
# make copy to avoid changing original data (when Imputing)
new_data = melb_data1.copy()

# make new columns indicating what will be imputed
cols_with_missing = (col for col in new_data.columns 
                                 if new_data[col].isnull().any())
for col in cols_with_missing:
    new_data[col + '_was_missing'] = new_data[col].isnull()

# Imputation
my_imputer = SimpleImputer()
new_data = pd.DataFrame(my_imputer.fit_transform(new_data))
new_data.columns

AttributeError: 'DataFrame' object has no attribute 'dtype'

# CATEGORICAL DATA WITH ONE HOT ENCODING

For example, if you people responded to a survey about which what brand of car they owned, the result would be categorical (because the answers would be things like Honda, Toyota, Ford, None, etc.). Responses fall into a fixed set of categories.

You will get an error if you try to plug these variables into most machine learning models in Python without "encoding" them first. Here we'll show the most popular method for encoding categorical variables.

One hot encoding is the most widespread approach, and it works very well unless your categorical variable takes on a large number of values (i.e. you generally won't it for variables taking more than 15 different values. It'd be a poor choice in some cases with fewer values, though that varies.)

One hot encoding creates new (binary) columns, indicating the presence of each possible value from the original data